@page "/counter"

@using BlazorWithRedux.States.Counter
@using BlazorWithRedux.States.Counter.Actions

@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher

@inherits FluxorComponent

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount => CounterState.Value.Count;

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncreaseCounter());
    }
}
